@font-face {
  font-family: "Inconsolata";
  src: url("Inconsolata-Regular.ttf");
}

p { text-align: left; }


/* Non-title page titles. */
.reveal .slide h1 { font-size: 200%; text-shadow: none; text-decoration: underline; }
.reveal .slide h2 { font-size: 200%; text-shadow: none; text-decoration: underline; }


/* Use '!important' to be sure to override any more specific settings
in the reveal.js CSS */
pre , pre code {
  /* Otherwise tall characters overlap ??? */
  line-height: 1.2 !important;
  /* vertical-align: none !important; */
  color: black !important;
  background-color: #eee8d5 !important;
  border-radius: 5px;
}
/* Without this the first line was indented a little more than the others. */
pre > code {
  padding: 0ex !important;
  margin: 0ex !important;
}
pre {
  padding: 1ex !important;
  /* margin: 1ex !important; */
}
/* Inline code.


Match any 'code' element which is a child ('>') of any element ('*')
which is not a 'pre'. The default element relation ship, specified by
whitespace, is decendent, not child.  See
http://www.w3.org/TR/css3-selectors/ .
*/
*:not(pre) > code {
  color: black !important;
  background: #eee8d5 !important;
  padding-left: 0.25ex !important;
  padding-right: 0.25ex !important;
  font-size: 85% !important;
  /* Copy the font used in the display code blocks. */
  font-family: "Inconsolata" !important;
  /* Remove forced capitalization of code in titles. */
  text-transform: none;
  border-radius: 5px;
}


/* Take up the whole screen vertically.

https://github.com/hakimel/reveal.js/issues/180 */

/*
.reveal .slides {
  height: 100% !important;
  top: 0 !important;
  margin-top: 0 !important;
}*/

.reveal .slides>section {
  min-height: 90% !important;
  top: auto !important;
}


.reveal .slides>section>section {
  min-height: 100% !important;
}


