.array {
  display: inline-block;
}

.array .control {
  cursor: pointer;
  color: #999;
  font-size: smaller;
}

.array-text {
  font-family: monospace;
}

.map {
  border: 1px solid black;
  display: table;
}

.map-entry {
  display: table-row;
}

.map-key {
  display: table-cell;
}

.map-value {
  display: table-cell;
}

.struct {
  display: table;
  flex-direction: column;
  align-content: stretch;
  border-spacing: 0.2em;
}

.struct .entry {
  display: table-row;
}

.struct .key {
  display: table-cell;
  padding-right: 1em;
  background-color: #fef;
}

.struct .value {
  display: table-cell;
}

.number {
  display: inline-block;
  color: #909;
  cursor: pointer;
}

.boolean {
  display: inline-block;
  color: #909;
}

.union {
  display: inline-block;
  position: relative;
}

.union .tag {
  font-size: smaller;
  background-color: #909;
  color: white;
  border-radius: 0.2em;
  padding-left:  0.2em;
  padding-right: 0.2em;
}


