name:                test-bed
cabal-version:       >=1.10
version:             0.1.0.0
license-file:        LICENSE
author:              Iavor Diatchki
maintainer:          iavor.diatchki@gmail.com
build-type:          Simple
extra-source-files:  CHANGELOG.md

executable test-bed
  main-is:             Main.hs
  -- other-modules:
  build-depends:       base >=4.13 && <4.14, text, bytestring, rts-hs
  default-language:    Haskell2010
