name: CI

on: push

env:
  # The CACHE_VERSION environment variable can be updated to force the use of a
  # new cache if the current cache contents become corrupted/invalid.  This can
  # sometimes happen when (for example) the OS version is changed but older .so
  # files are cached, which can have various unintended effects.
  CACHE_VERSION: 1

jobs:

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # os: [ubuntu-22.04, macos-15]
        os: [ubuntu-22.04]
        ghc-version: [9.8.4]
        cabal-version: [3.14.2.0]

    steps:

    - name: Checkout
      uses: actions/checkout@v4
      with:
        persist-credentials: false

    - name: Setup Haskell Environment
      uses: haskell-actions/setup@v2
      id: setup-haskell
      with:
        ghc-version:  ${{ matrix.ghc-version }}
        cabal-version: ${{ matrix.cabal-version }}

    - name: Restore Cabal Store from the Cache
      uses: actions/cache/restore@v4
      with:
        path: |
          ${{ steps.setup-haskell.outputs.cabal-store }}
          dist-newstyle
        key: ${{ env.CACHE_VERSION }}-cabal-${{ matrix.os }}-${{ matrix.ghc-version }}-${{ hashFiles(format('cabal.GHC-{0}.config', matrix.ghc-version)) }}-${{ github.sha }}
        restore-keys: |
          ${{ env.CACHE_VERSION }}-cabal-${{ matrix.os }}-${{ matrix.ghc-version }}-

    - name: Build
      shell: bash
      run: scripts/build
      env:
        OS_TAG: ${{ matrix.os }}
        ARCH_TAG: ${{ runner.arch }}

    - name: Save Cabal Store to the Cache
      uses: actions/cache/save@v4
      if: always()
      with:
        path: |
          ${{ steps.setup-haskell.outputs.cabal-store }}
          dist-newstyle
        key: ${{ env.CACHE_VERSION }}-cabal-${{ matrix.os }}-${{ matrix.ghc-version }}-${{ hashFiles(format('cabal.GHC-{0}.config', matrix.ghc-version)) }}-${{ github.sha }}
          ${{ env.CACHE_VERSION }}-cabal-${{ matrix.os }}-${{ matrix.ghc-version }}-${{ hashFiles(format('cabal.GHC-{0}.config', matrix.ghc-version)) }}-

    - name: Run Daedalus Tests
      shell: bash
      run: cabal test daedalus-tests

    # XXX: backend tests, tests with make file, talos tests
    
    - name: Run HTTP Tests
      shell: bash
      run: formats/http/run-tests.sh

    - name: Release
      if: github.ref_type == 'tag' && github.event.pull_request.head.repo.fork == false && github.repository_owner == 'GaloisInc'
      uses: softprops/action-gh-release@v2
      with:
        files: bin/*
        fail_on_unmatched_files: true


  rts-c-tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-22.04 ]

    steps:

    - name: Install prereqs.
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential
        sudo apt-get install -y libgmp-dev libboost-context-dev
        sudo apt-get install -y libgtest-dev
        sudo apt-get install -y cmake

    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Build and run tests
      run: |
        cmake -B rts-c-tests-build rts-c/tests
        cmake --build rts-c-tests-build
        ./rts-c-tests-build/rts-c-tests
